.header{
    /* background-color:#520c16; */
    background-color:white;
    color:black;
    /* font-family: 'Sen', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    color:black;
    display: block;
    height: inherit;
    align-items: center;
    padding: 010px;
    text-decoration: none;
}

.link{
    font-size: 20px; 
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header ol {
    display: flex;
    height: inherit;
}
.header ol ul {
    height: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio{
    color: white;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
}
h1,h2,h3,h4,h5{
    font-family:'Source Sans Pro', sans-serif;  /*Tipo de Fuente*/
    /* font-weight: normal; */
}

h1{
    font-size: 35px;    /*Tamaño de letra*/
    line-height: 1.5;  /*espacio entre lineas*/
    text-transform: capitalize; /*modificar la letra mayuscula o minuscula*/
    /* text-decoration: ; Decorar el parrafo */
    margin: 0px 520px 70px 30px;
    color:black;
    padding: 10px;
}
h2{
    color: #36923b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h1 strong{
    color: #36923b;
}

.project{
    /* border-color: blue;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid black;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    /* margin: 30px; */
   
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 0px;
    margin-top: 0px; */
}

.project-event, .project-date, .project-description{
    margin: 20px 0;
    font-size: 20px;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project strong{
    font-family:'Fjalla One', sans-serif;
}

.project-details{
    /* margin: 50px; */
    width: 700px;
    flex-wrap: nowrap;
    color: black;
}
.project-image{
    margin: o;
    width: 450px;
    display: block;
    flex-wrap: nowrap;
}

.hero{
    height: 300px;
    background-image: url('../image/medicina.png');
    background-color:white;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

footer{
    background-color:#520c16;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;   
     
}
.footer img{
    vertical-align: middle;
    margin: 0;
    align-items: center;
}

.footer a{
    color:white;
}

.experience-title{
    margin-left: 20px;
}
.experience-list{
    display: flex;
}

.courses{
    border: 1px solid gray;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #d9e0e8;
}

.courses-imageContainer{
    margin: 0;
}

.courses img{
    width: 480px;
    height: 240px;
    object-fit: cover;
}

.courses-details{
    margin: 20px 40px;
    background: white;
    margin-top: -30px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.courses-description{
    text-align: left;
}

.courses-url{
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #36923b;
    border-radius: 5px;
}
/* .courses-description{
    width: 500px;
} */

/* .courses-details{
    margin: 30px;
    padding-left: 30px;         
} */