header{
    background-color:#101951;
    color:white;
    /* font-family: 'Sen', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;;
    margin: 0;
}
.header a{
    color:white;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f4f3ee;
}
h1,h2,h3,h4,h5{
    font-family:'Fjalla One', sans-serif;  /*Tipo de Fuente*/
    /* font-weight: normal; */
}

h1{
    font-size: 35px;    /*Tamaño de letra*/
    line-height: 1.5;  /*espacio entre lineas*/
    text-transform: capitalize; /*modificar la letra mayuscula o minuscula*/
    /* text-decoration: ; Decorar el parrafo */
    margin: 20px 520px 70px 30px;
    color: white;
    padding: 30px;
}

h1 strong{
    color: #36923b;
}

.project{
    /* border-color: blue;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    /* margin: 30px; */
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 30px; */
    background-color:white;
    display:flex;
    /* margin-right: 0px;
    margin-top: 0px; */
}
.project-details{
    /* margin: 50px; */
    width: 700px;
    flex-wrap: nowrap;
}
.project-image{
    margin: o;
    width: 450px;
    display: block;
    flex-wrap: nowrap;
}

.courses-details{
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    margin: 30px;
    padding-left: 30px;         
}

.hero{
    height: 300px;
    background-image: url('../image/medicina.png');
    background-color:#0e184b;
    background-repeat: no-repeat;
    background-position-x: right;
}

.courses-description{
    width: 500px;
}

.list-obj{
    margin: 0px;
}