@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dsa53m');
    src:  url('../fonts/icomoon.eot?dsa53m#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?dsa53m') format('truetype'),
      url('../fonts/icomoon.woff?dsa53m') format('woff'),
      url('../fonts/icomoon.svg?dsa53m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before 
  {
    content: "\e900";
  }
  

.header{
    background-color:#1d1d1b;
    color:white;
    display: flex;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.header a{
    color:white;
    text-decoration: none;
}

.link{
    font-size: 20px; 
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

figure{
    margin: 0;
}

.header ol {
    display: flex;
    height: inherit;
}
.header ol ul {
    height: inherit;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.portfolio{
    padding: 20px;
    background: white;
    flex-wrap: wrap;
}
h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;/*Tipo de Fuente*/
    font-weight: normal;  
}

h1{
    font-size: 40px;    /*Tamaño de letra*/
    line-height: 1.5;  /*espacio entre lineas*/
    letter-spacing: -.2px;
    text-transform: capitalize; /*modificar la letra mayuscula o minuscula*/
    color:white;
    margin: 0;
}
h2{
    color: #36923b;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h1 strong{
    color: #36923b;
}

h3{
    margin-bottom: 5px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    background: white;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.project-event, .project-date, .project-description{
    margin: 10px 0;
    font-size: 20px;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project strong{
    font-family:'Fjalla One', sans-serif;
}

.project-details{
    width: 50%;
}
.project-imageContainer{
    width: 50%;
}
.project-image{
    max-width: 100%;
}

.hero{
    height: 300px;
    /* background-image: url('../image/medicina.png'); */
    background-color: #1d1d1b;
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
    /* margin-left: 10px; */
}

footer{
    background-color:#1d1d1b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer img{
    vertical-align: middle;
}

.footer a{
    color:white;
}

.experience-title{
    margin-left: 20px;
}
.experience-list{
    display: flex;
    flex-wrap: wrap;
}

.courses{
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #36923b;

}

.courses-imageContainer{
    margin: 0;
}

.courses img{
    width: 480px;
    height: 240px;
    object-fit: cover;
}

.courses-details{
    margin: 20px 40px;
    background-color: white;
    margin-top: -30px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.courses-description{
    text-align: left;
}

.courses-url{
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #36923b;
    border-radius: 5px;
}

.contact{
    background-color: #36923b;
    color: white;   
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 10px;
}
.social-link.twitter{
    background-image: url('../image/twitter.svg');
}
.social-link.github{
    background-image: url('../image/github.svg');
}
.social-link.facebook{
    background-image: url('../image/facebook.svg');
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../image/mail.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 3px;
}
.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;

}
.form-email h3 { 
    font-family: 'Source Sans Pro', sans-serif;
  }

.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

/*Desktop first que empieces desde el MQ más grande*/
@media screen and (max-width: 1024px){
    .container{
        padding: 0 1em;
    }
    
}
@media screen and (max-width:913px){
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em 1em;
    }
    h1{
        font-size: 2.5em;
        padding: 2em 1em;
        z-index: 2;
    }

    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 767px){

    .burger-button{
        display: block;
    }
    .header{
        display: block;
        height: auto;
    }
    .header ol {
        display: initial;
    }
    .header ol li{
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 30px;
        font-size: 1.5em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .menu{
        position: fixed;
        background:rgba(54, 146, 59, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;   
    }
    .menu.is-active{
        left: 0;
    }


    .logo{
        text-align: center;
    }
    .project{
        display: block;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }
    .project-details{
        width: auto;
        /* font-size: 16px; Por defecto utiliza 16px*/
    }
    .project-title, .project-event, .project-date{
        margin: .4em 0;
    }
    .project-title{
        font-size: 1em;
    }
    .project-event{
        font-size: 1em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: 1em;
    }
    .courses{
        width: auto;
        flex-shrink: initial;
    }
    .courses img{
        width: 100%;
        height: 378px;
    }
    h1{
        font-size: 2.5em;
        padding: 2em 1em;
        z-index: 2;
    }

}


@media screen and (max-width: 480px){
    .courses-details{
        margin: -5.5em 2em 1em;
        padding: 1em;
    }

    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button{
        margin: 1em auto;
    }

    .form-email h3{
        margin-top: 0;
    }

    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    h1{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1em;
    }
}
